/* @override http://127.0.0.1:8000/media/commitlog/admin.css */
.gitter {
	width: 900px;
	margin: 0 auto;
}
.gitter ul{
	margin: 0;
	padding: 0;
}

img.gravatar {
	float: left;
	background: white;
	padding: 3px;
	border: 1px solid #cdcdcd;
	margin-right: 1em;
}
.commits {
	color: #838b9c;
}
.robot{
    float: right;
}
.human{
	
    float: left;
}
.human em{
	clear: left;
    float: left;
}
.human strong{
   clear: left;
}
.message {
	float: left;
	color: black;
}
.commit{
    overflow: hidden;
    clear: both;
    border-top: 1px solid #dcded7;
    background: #f8fafa;
    padding: 5px;
}
.commit ul{
	clear: left;
	margin-left: 14em;
}
h3 {
    font-size: 2em;
}
textarea{
	clear: left;
	width: 100%;
	background: #fafafa;
}
ul {
	clear: both;
}
.breadcrumbs ul{
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.breadcrumbs li{
	float: left;
	list-style: none;
	list-style-type: none;
	margin-right: 1em;
}
.colM{
	clear: both;
}
.history {
	float: right;
}
.tools {
	float: right;
}
.breadcrumbs ul{
	overflow: hidden;
}
.undo {
	float: right;
}
.list {
	padding: 0;
	margin: 0;
	border: 1px solid #d2e6f7;
}
.list li {
	margin: 0;
	background: #faf9fb;
	list-style: none;
	list-style-type: none;
	padding: .7em 2em .7em 3em;
	border-bottom: 1px solid #efecf6;
	font-family: Monaco,"Courier New","DejaVu Sans Mono", mono;
	font-size: 100%;
}
.delete,
.rename {
	float: right;
}
li.blob{
	background: #f8f8f8 url(/media/commitlog/images/file.png) no-repeat 10px;
}
li.tree{
	background: #f8f8f8 url(/media/commitlog/images/directory.png) no-repeat 10px;
}
