/* @override http://127.0.0.1:8000/media/commitlog/admin.css */

/* #Buttons
================================================== */
    
    a.button, 
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        background: #eee; /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
        background: -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
        background: linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
      border: 1px solid #aaa;
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      padding: 4px 12px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      color: #444;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      text-decoration: none;
      text-shadow: 0 1px rgba(255, 255, 255, .75);
      cursor: pointer;
      margin-bottom: 20px;
      line-height: 21px;
      font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
      
    a.button:hover, 
    button:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover {
        color: #222;
        background: #eee; /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
        background: -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
        background: linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
      border: 1px solid #888;
      border-top: 1px solid #aaa;
      border-left: 1px solid #aaa; }
      
  a.button:active, 
  button:active,
    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active {
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,0,0,.3) 0%, rgba(255,255,255,.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.3)), color-stop(100%,rgba(255,255,255,.3))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* W3C */
    border: 1px solid #888;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa; }
    
    .button.full-width, 
    button.full-width,
    input[type="submit"].full-width,
    input[type="reset"].full-width,
    input[type="button"].full-width { 
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: center; }
    
    
.gitter {
	width: 900px;
	margin: 0 auto;
}
.gitter ul{
	margin: 0;
	padding: 0;
}

img.gravatar {
	float: left;
	background: white;
	padding: 3px;
	border: 1px solid #cdcdcd;
	margin-right: 1em;
}

.commits {
	color: #838b9c;
}
.robot{
    float: right;
}
.human{
    float: left;
}
.human em{
	clear: left;
    float: left;
}
.human strong{
   clear: left;
}
.message {
	float: left;
	color: black;
}
.commit{
    overflow: hidden;
    clear: both;
    border-top: 1px solid #dcded7;
    background: #f8fafa;
    padding: 5px;
}
.commit ul{
	clear: left;
	margin-left: 14em;
}
h3 {
    font-size: 2em;
}
textarea{
	clear: left;
	width: 100%;
	background: #fafafa;
}
ul {
	clear: both;
}

.breadcrumbs ul{
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.breadcrumbs li{
	float: left;
	list-style: none;
	list-style-type: none;
	margin-right: 1em;
}
.colM{
	clear: both;
}
.history {
	float: right;
}
.tools {
	margin-top: 20px;
	border: 1px solid #d8dae0;
	padding: 2em;
	overflow: hidden;
	background: #ededed;
}


.tools button{
	margin: 0;
}
.tools div {
	float: left;
}
.tools form{
	float: right;
}
.breadcrumbs ul{
	overflow: hidden;
}
.undo {
	float: right;
}
.list {
	padding: 0;
	margin: 0;
	border: 1px solid #d2e6f7;
}
.list li {
	margin: 0;
	background: #faf9fb;
	list-style: none;
	list-style-type: none;
	padding: .7em 2em .7em 3em;
	border-bottom: 1px solid #efecf6;
	font-family: Monaco,"Courier New","DejaVu Sans Mono", mono;
	font-size: 100%;
}
.delete,
.rename {
	float: right;
}
li.blob{
	background: #f8f8f8 url(/media/commitlog/images/file.png) no-repeat 10px;
}
li.tree{
	background: #f8f8f8 url(/media/commitlog/images/directory.png) no-repeat 10px;
}

.edit_file button {
	float: right;
}
.msg {
	margin-top: 1em;
	padding-right: 1em;
}