{% load commit_tags %}

{% regroup commits by committed_date|mkdate|date:"d D"|safe as commits_per_day %}

<h2>
    <a href="{% url commitlog-branch repo_name branch_name %}">
        Commits at "{{ branch_name }}" branch 
    </a>
    {% if path %}
        for "{{ path }}"
    {% endif %}
</h2>
{% if commits %}
<p class="pager">
    {% if previous_page %}
        <a href="?page={{ previous_page }}" class="previous button">PREVIOUS</a>
    {% endif %}
    <a href="?page={{ next_page }}" class="next button">NEXT</a>
</p>
{% else %}
<h2>No more commits.</h2>
{% endif %}

<div class="commits">
{% for commits in commits_per_day %}
    <h3>{{ commits.grouper }}</h3>
    {% for commit in commits.list %}
    
    {% include "commitlog/_commit.html" %}

    {% endfor %}
{% endfor %}

{% if commits %}
<p class="pager">
    {% if previous_page %}
        <a href="?page={{ previous_page }}" class="previous button">PREVIOUS</a>
    {% endif %}
    <a href="?page={{ next_page }}" class="next button">NEXT</a>
</p>
{% endif %}

</div>