 {% load commit_tags %}
    <div class="commit">
        <div class="human">
            <img src="{% gravatar commit.author.email %}" alt="{{ commit.author.name }}" class="gravatar" />
            <strong><a href="mailto:{{commit.author.email}}">{{ commit.author.name  }}</a> </strong>
            <em>
                {# {{ commit.committed_date|mkdate|date:"H:i" }} #}
                 {{ commit.committed_date|mkdate|timesince }} ago
            </em>
        </div>
        <div class="message"> {{ commit.message }} </div>
        <dl class="robot">
            <dd>commit:</dd><dt><a class="ajax" rel="#pages" href="{% url commitlog-commit-view repo_name branch_name commit.hexsha %}">{{ commit.hexsha|truncatechars:16 }}</a> </dt>
            
            <dd>tree:</dd><dt><a class="ajax" rel="#pages" href="{% url commitlog-commit-tree-view repo_name branch_name commit.hexsha "" %}">{{ commit.tree.hexsha|truncatechars:16 }}</a></dt>

            {% for parent in commit.parents %}
            <dd>parent:</dd><dt><a class="ajax" rel="#pages" href="{% url commitlog-commit-view repo_name branch_name parent.hexsha %}">{{ parent.hexsha|truncatechars:16 }}</a></dt>
            {% endfor %}
        </dl>
    	
    </div>