{% load commit_tags %}
<div id="edit_{{repo_name}}_{{branch_name}}_{{ path|slugify }}">
	

	<ul class="breadcrumbs">
		<li>path <a href="{% url commitlog-tree-view repo_name branch_name "" %}" class="ajax" rel="#tree" >root/</a> </li>
		{% for crumb, path in breadcrumbs %}
	    <li><a href="{% url commitlog-tree-view repo_name branch_name path %}" class="ajax" rel="#tree" >{{crumb}}/</a> </li>
		{% endfor %}
	</ul>

	<a class="history ajax" rel="#main" href="{% url commitlog-history-file repo_name branch_name path %}" >history</a>
	<h1>{{path}}</h1>

	{% if result_msg %}
		<h3>{{ result_msg|safe }}</h3>
	{% endif %}

	<div class="edit_file">
	{% if file_meta.mime_type == "text" or file_meta.mime_type == "application"  %}
	  	{% include "commitlog/_edit_text.html" %}
	{% else %}
		{% if file_meta.mime_type == "image" %}
		<img src="/{{ path }}" width="300" />
		{% endif %}
		{% include "commitlog/_edit_file.html" %}
	{% endif %}
	</div>

	<form action="{% url commitlog-delete-file repo_name branch_name path %}" method="post">
		{{ delete_form.as_p }}
		<button class="delete">DELETE</button>
	</form>
</div>

