<ul class="breadcrumbs">
    <li><a href="{% url commitlog-tree-view repo_name branch_name "" %}" >/</a>
{% for crumb, path in breadcrumbs %}
    <li><a href="{% url commitlog-tree-view repo_name branch_name path %}" >{{crumb}}/</a> 
{% endfor %}
</ul>


<h1>Commit to "{{path}}" at branch "<a href="{% url commitlog-branch repo_name branch_name %}">{{ branch_name }}</a>"</h1>
<h3>{% if result_msg %}
	{{ result_msg|safe }}
{% endif %}</h3>
<form action="" method="post" enctype="multipart/form-data" >
	<ul>
	{{ form.as_p }}
	</ul>
	{% csrf_token %}
	<p><button>COMMIT</button></p>
</form>
