<link rel="stylesheet" type="text/css" href="{{ GITTER_MEDIA_URL }}commitlog/CodeMirror-2.12/lib/codemirror.css" /> 
<link rel="stylesheet" type="text/css" href="{{ GITTER_MEDIA_URL }}commitlog/theme_dark.css" />

{% include "commitlog/_edit_file.html" %}

<script type="text/javascript" src="{{ GITTER_MEDIA_URL }}commitlog/CodeMirror-2.12/lib/codemirror.js"></script>
<script type="text/javascript" src="{{ GITTER_MEDIA_URL }}commitlog/CodeMirror-2.12/lib/runmode.js"></script>
<script type="text/javascript" src="{{ GITTER_MEDIA_URL }}commitlog/CodeMirror-2.12/lib/overlay.js"></script>

<script type="text/javascript" src="{{ GITTER_MEDIA_URL }}commitlog/CodeMirror-2.12/mode/{{ file_mime.type }}/{{ file_mime.type }}.js"></script>

{# <script type="text/javascript" src="{{ GITTER_MEDIA_URL }}commitlog/python-complete.js"></script> #}

{% if file_mime.type == "css" or file_mime.type == "html"%}
<script type="text/javascript" src="{{ GITTER_MEDIA_URL }}commitlog/zen-textarea/zen_textarea.min.js"></script>	
{% endif %}

<script> 

var editor = CodeMirror.fromTextArea(document.getElementById("id_file_source"), {
  mode: {name: "{{ file_type }}"},
  lineNumbers: true,
  indentUnit: 4,
  onCursorActivity: function() {
    editor.setLineClass(hlLine, null);
    hlLine = editor.setLineClass(editor.getCursor().line, "activeline");
  }
});
var hlLine = editor.setLineClass(0, "activeline");

zen_textarea.setup({pretty_break: true})
</script> 