{% include "commitlog/_edit_file.html" %}

{# <script type="text/javascript" src="{{ GITTER_MEDIA_URL }}commitlog/python-complete.js"></script> #}
{% if file_meta %}
	<script type="text/javascript" src="{{ GITTER_MEDIA_URL }}commitlog/CodeMirror-2.12/mode/{{ file_meta.type }}/{{ file_meta.type }}.js"></script>
{% endif %}

{% if file_meta.type == "css" or file_meta.type == "html"%}
<script type="text/javascript" src="{{ GITTER_MEDIA_URL }}commitlog/zen-textarea/zen_textarea.min.js"></script>	
{% endif %}

<script> 

var editor = CodeMirror.fromTextArea(document.getElementById("id_file_source"), {
  mode: {name: "{{ file_meta.type }}"},
  lineNumbers: true,
  indentUnit: 4,
  onCursorActivity: function() {
    editor.setLineClass(hlLine, null);
    hlLine = editor.setLineClass(editor.getCursor().line, "activeline");
  }
});
var hlLine = editor.setLineClass(0, "activeline");
{% if file_mime.type == "css" or file_mime.type == "html"%}
zen_textarea.setup({pretty_break: true})
{% endif %}
</script> 