{% load commit_tags %}
<div class="tree" id="tree_{{repo_name}}_{{branch_name}}" >

	<ul class="breadcrumbs">
		<li><a href="{% url commitlog-tree-view repo_name branch_name "" %}" class="ajax" rel="#tree" >//</a> </li>
		{% for crumb in breadcrumbs %}
		<li><a href="{% url commitlog-tree-view repo_name branch_name crumb.1 %}" class="ajax" rel="#tree" >{{crumb.0}}</a>/</li>
		{% endfor %}
		<li>{{ dir_path|last }}/</li>
	</ul>


	<ul class="list">
		{% if dir_path.0 %}
		<li><a href="./" class="ajax" rel="#pages" >..</a>
		{% endif %}

		{% for element in tree %}
		<li class="{{ element.type }}">
			{% if element.type == "tree" %}
				<a href="{% url commitlog-tree-view repo_name branch_name element.path %}" class="ajax" rel="#tree" title="{{ element.name }}/">{{ element.name }}/</a>
			{% else %}
				<a href="{% url commitlog-edit-file repo_name branch_name element.path %}" class="ajax" rel="#pages" title="{{ element.name }}" >{{ element.name }}</a>
				<small>{{ element.size|filesizeformat }}</small>

			{% endif %}
			{# <small>commit: <a href="{% url commitlog-commit-view repo_name branch_name element.hexsha %}">{{ element.hexsha|truncatechars:16 }}</a></small> #}
			<a href="{% url commitlog-delete-file repo_name branch_name element.path %}" class="delete ajax" rel="#toolbox" title="delete">x</a>
			<a href="{% url commitlog-rename-file repo_name branch_name element.path %}" class="rename ajax" rel="#toolbox" >rename</a>
		</li>
		{% endfor %}
	</ul>

	<p class="new_file">NEW FILE</p>

	<form action="{% url commitlog-upload-file  repo_name branch_name %}" method="post" >
		{{ upload_form.as_p }}
		{% csrf_token %}
		<button>UPLOAD</button>
	</form>
</div>