{% extends "admin/base_site.html" %}{% load commit_tags %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}CodeMirror-2.12/lib/codemirror.css" /> 

<link rel="stylesheet" type="text/css" href="http://codemirror.net/theme/default.css" href=/>
<a href="{% url commitlog-branch branch_name %}">Commits at "{{ branch_name }}" branch </a>
<h1>Commit to "{{path}}"</h1>
<h3>{% if result_msg %}
	{{ result_msg }}
{% endif %}</h3>
<form action="" method="post">
	<ul>
	{{ form.as_p }}
	</ul>
	{% csrf_token %}
	<p><button>COMMIT</button></p>
</form>


<script type="text/javascript" src="{{ MEDIA_URL }}CodeMirror-2.12/lib/codemirror.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}CodeMirror-2.12/lib/runmode.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}CodeMirror-2.12/lib/overlay.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}CodeMirror-2.12/mode/python/python.js"></script>
<script> 
var editor = CodeMirror.fromTextArea(document.getElementById("id_file_source"), {
  mode: {name: "python",
               version: 2,
               singleLineStringErrors: false},
  lineNumbers: true,
  indentUnit: 4,
  onCursorActivity: function() {
    editor.setLineClass(hlLine, null);
    hlLine = editor.setLineClass(editor.getCursor().line, "activeline");
  }
});
var hlLine = editor.setLineClass(0, "activeline");
</script> 
{% endblock %}