{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<ul>
		{% if repo_name %}
		<li>project "<a href="{% url commitlog-repos %}" >{{ repo_name }}</a>" </li>
		{% endif %}
		{% if branch_name %}
		<li>branch "<a href="{% url commitlog-tree-view repo_name branch_name "" %}" >{{ branch_name }}</a>" </li>	
		{% endif %}
		{% if repo_name and branch_name %}
		<li><a href="{% url commitlog-branch repo_name branch_name %}" >commits</a> </li>
		<form method="post" action="{% url commitlog-search repo_name branch_name %}" class="serch_form">
			<p>
				<input type="text" name="query" id="id_query" value="{{ query }}" /> 
				<button>SEARCH</button>
				{% csrf_token %}
			</p>
		</form>
		{% endif %}
{% block git_breadcrumbs %}{% endblock git_breadcrumbs %}
	</ul>
</div>

{% if repo_name and branch_name %}
	<a href="{% url commitlog-undo repo_name branch_name %}" class="undo button" title="undo last commit">undo</a>
{% endif %}
{% endblock breadcrumbs %}



{% block content %}
<link rel="stylesheet" type="text/css" href="{{ GITTER_MEDIA_URL }}commitlog/admin.css" />

<div class="gitter">
{% block git_content %}{% endblock git_content %}

	<div id="console">
		<h4>Console</h4>

		<div id="console_output">
		</div>
		<p>
				<label for="console-input">Command</label>
				<input id="console-input" type="text"  />
				<button id="console_enter">ENTER</button>
		</p>
	</div>
</div> 


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="//documentcloud.github.com/underscore/underscore-min.js"></script>
<script src="{{ GITTER_MEDIA_URL }}commitlog/js/script.js"></script>
<script type="text/javascript">
{% if repo_name %}
	$("#console_enter").click(function( ){
		var query_str = $("#console-input").val();
		var output = $("#console_output");
		output.append("<div>" + query_str + "</div>" );
		$.post("{% url commitlog-consol repo_name %}", {"com": query_str }, function(data) {
			console.log( data );
			alert( data )
			//output.append("<pre>" + data + "</pre>" );
		}).success(function() { alert("second success"); })
    	.error(function(data) { 
    		console.log( data )
	    	output.append("<pre>" + data.responseText + "</pre>" );
    	})	
	})
{% endif %}
</script>


{% endblock content %}