{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<ul>
		{% if repo_name %}
		<li>project "<a href="{% url commitlog-repos %}" >{{ repo_name }}</a>" </li>
		{% endif %}
		{% if branch_name %}
		<li>branch "<a class="ajax" rel="main" href="{% url commitlog-tree-view repo_name branch_name "" %}"  >{{ branch_name }}</a>" </li>	
		{% endif %}
		{% if repo_name and branch_name %}
		<li><a class="ajax" rel="main" href="{% url commitlog-branch repo_name branch_name %}"  >commits</a> </li>
		{% endif %}
{% block git_breadcrumbs %}{% endblock git_breadcrumbs %}
	</ul>
</div>

{% if repo_name and branch_name %}
<form method="post" action="{% url commitlog-search repo_name branch_name %}" class="serch_form">
	<p>
		<input type="text" name="query" id="id_query" value="{{ query }}" /> 
		<button>SEARCH</button>
		{% csrf_token %}
	</p>
</form>
<a href="{% url commitlog-undo repo_name branch_name %}" class="undo button" title="undo last commit">undo</a>
{% endif %}
{% endblock breadcrumbs %}



{% block content %}
<link rel="stylesheet" type="text/css" href="{{ GITTER_MEDIA_URL }}commitlog/css/admin.css" />
<link rel="stylesheet" type="text/css" href="{{ GITTER_MEDIA_URL }}commitlog/CodeMirror-2.12/lib/codemirror.css" /> 
<link rel="stylesheet" type="text/css" href="{{ GITTER_MEDIA_URL }}commitlog/css/theme_dark.css" />

<div class="gitter">
	<p><a href="#" id="toogle_files">Files:</a></p>
	<div id="tree">
{% block git_tree %}{% endblock git_tree %}
	</div>

	<div id="main">
{% block git_content %}{% endblock git_content %}
	</div>

	<div id="toolbox">
	</div>
	
	<div id="console">
		<h4>Console</h4>

		<div id="console_output">
		</div>
		<p>
				<label for="console-input">Command</label>
				<input id="console-input" type="text"  />
				<button id="console_enter">ENTER</button>
		</p>
	</div>
</div> 



<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>

<script type="text/javascript" src="{{ GITTER_MEDIA_URL }}commitlog/js/script.js"></script>
<script type="text/javascript" src="{{ GITTER_MEDIA_URL }}commitlog/CodeMirror-2.12/lib/codemirror.js"></script>
<script type="text/javascript" src="{{ GITTER_MEDIA_URL }}commitlog/CodeMirror-2.12/lib/runmode.js"></script>
<script type="text/javascript" src="{{ GITTER_MEDIA_URL }}commitlog/CodeMirror-2.12/lib/overlay.js"></script>


<script type="text/javascript">
var current_main_page = document.location.href;
var pages_in_main = {};
var page_id = mk_page_id(current_main_page);
$(".page").attr( "id", page_id);
pages_in_main[current_main_page] = page_id;

function mk_page_id( url ){
	return url.replace(/\//g, "_").replace(/\./g, "").replace(/:/g, "")
}

$(document).ready( function(){

{% if repo_name and branch_name %}
	$("#console_enter").click(function( ){
		var data = {"com":"git status"};
		$('#console_output').load("{% url commitlog-consol repo_name %}", data, function() {
		  
		});
	})
	var tree_path =  {% if path %} '{% url commitlog-tree-view repo_name branch_name path %}';
	{% else %} '{% url commitlog-tree-view repo_name branch_name "" %}'; {% endif %}
	
	$("#tree").load(tree_path);
{% endif %}

	$("#create_new_file").click( function(){
		var loc = document.getElementById("cur_path").value + "/" +
			document.getElementById("new_file_name").value;
		document.location = loc;
	})

	$('#content').delegate('a.ajax', 'click', function(event) {
		event.preventDefault();
		
		if (this.rel == "#main") {
			// if its the same page do nothing
			if ( this.href != current_main_page) {
				var transition = true;
				$( "#" + pages_in_main[current_main_page]  )
					.hide('slide', {direction: 'left'}, 700, function(){
						transition = false;
					});
				// if page is already loaded
				if ( pages_in_main[this.href] ){
					$( "#" + pages_in_main[this.href] )
						.delay(3000)
						.show();
					current_main_page = this.href;
				} else { // new page
					var self = this;
					$.get(this.href, function(data) {
						var id = mk_page_id(self.href);
						pages_in_main[self.href] = id;
						// delay if current page is not closed
						if (!self.transition) {
							$(self.rel)
								.append("<div class='page' id='" + id + "' >" + data + "</div>");
						} else {
							$(self.rel)
								.append("<div class='page' style='display:none' id='" + id + "' >" + data + "</div>")
								.delay(4000)
								.show();;
						}
					  	current_main_page = self.href;
					}, "html")
				}				
			}
		}else {
			$(this.rel).load(this.href, function() {
		  		console.log(this.href)
			});
		}
	});

	$("#toogle_files").click( function(){
		$(this).removeClass("open").addClass("closed");
		$('#tree').toggle("fast");
	})
		
})

</script>
{% block js %}{% endblock js %}

{% endblock content %}