{% extends "commitlog/commitlog_base.html" %}{% load commit_tags %}

{% block git_content %}
<div class="page">
<h2>GIT Repositories<h2>
<ul class="repos">
	{% for repo_name, repo in repos.items %}
	<li><h3>{{ repo_name }}</h3>
		<p>last commit {{ repo.head.commit.authored_date|mkdate }} "{{ repo.head.commit.message }}" [{{ repo.head.commit.author }}]</p>

		<p>branches:</p>
		<ul class="branches">
			{% for branch in repo.branches %}
			<li>
				<a href="{% url commitlog-tree-view repo_name branch.name "" %}">"{{ branch.name }}"</a>
				(<a href="{% url commitlog-branch repo_name branch.name %}">log</a>)
				{% if repo.tags %}
				<p>Tags.</p>
				<ul class="tags">
					{% for tag in repo.tags %}
					<li><a href="{% url commitlog-commit-tree-view repo_name branch.name tag "" %}">"{{ tag }}"</a></li>
					{% endfor %}
				</ul>					
				{% endif %}
			{% endfor %}
		</ul>

		<p>is dirty: {{ repo.is_dirty }} </p>
		<p>status: </p>
		<pre>
		{{ repo.git.status }}
		</pre>
	</li>
	{% endfor %}
</ul>
</page>
{% endblock %}