{% extends "commitlog/commitlog_base.html" %}{% load commit_tags %}

{% block git_breadcrumbs %}
	{% if commit %}
	<li>commit: <a href="{% url commitlog-commit-tree-view repo_name branch_name commit.hexsha "" %}">{{ commit.hexsha|truncatechars:16 }}/</a></li>
	{% else %}
	<li>path <a href="{% url commitlog-tree-view repo_name branch_name "" %}" >root/</a> </li>
	{% endif %}
	{% for crumb in breadcrumbs %}
	{% if commit %}
	<li><a href="{% url commitlog-commit-tree-view repo_name branch_name commit.hexsha crumb.1 %}" >{{crumb.0}}/</a> 	
	{% else %}
	<li><a href="{% url commitlog-tree-view repo_name branch_name crumb.1 %}" >{{crumb}}/</a> 
	{% endif %}
	{% endfor %}
{% endblock git_breadcrumbs %}



{% block git_content %}
	<a class="history" href="{% url commitlog-history-file repo_name branch_name path %}">history</a>
	<h2>
		File "{{ path }}" 
		{% if commit %} at {{ commit.hexsha|truncatechars:16 }} commit {% endif %}
	</h2>
	
	{% if commit %}
	{% include "commitlog/_commit.html" %}
	{% endif %}

	{% if file_meta.mime_type == "text" or file_meta.mime_type == "application"  %}
	  {% include "commitlog/_view_text.html" %}
	{% else %}
	  {% include "commitlog/_view_file.html" %}
	{% endif %}

	{% if file_meta.mime_type == "image" %}
		
		<img src="data:{{ file_meta.mime }};base64,{{ img_base }}" width="300" />
	{% endif %}
	{% include "commitlog/_diff.html" %}
{% endblock %}