{% extends "commitlog/commitlog_base.html" %}{% load commit_tags %}


{% block breadcrumbs %}
<ul class="breadcrumbs">
	<li>repo "<a href="{% url commitlog-repos %}" >{{ repo_name }}</a>" </li>
	<li>branch "<a href="{% url commitlog-tree-view repo_name branch_name "" %}" >{{ branch_name }}</a>" </li>
	<li>path <a href="{% url commitlog-tree-view repo_name branch_name "" %}" >root/</a> </li>
	{% for crumb in dir_path %}
	<li><a href="{% url commitlog-tree-view repo_name branch_name crumb %}" >{{crumb}}/</a></li>
	{% endfor %}
</ul>
{% endblock breadcrumbs %}



{% block git_content %}
{% if commit %}
	<h2>File tree at "{{ commit.hexsha|truncatechars:16 }}" commit</h2>
	{% include "commitlog/_commit.html" %}
{% endif %}


<ul>
{% if dir_path.0 %}
	<li><a href="./">..</a>
{% endif %}

{% for element in tree %}
	<li>
		{% if element.type == "tree" %}
			{% if commit %}
			<a href="{% url commitlog-commit-tree-view repo_name branch_name commit.hexsha element.path %}" >{{ element.name }}/</a>
			{% else %}
			<a href="{% url commitlog-tree-view repo_name branch_name element.path %}" >{{ element.name }}/</a>
			{% endif %}
		{% else %}
			{% if commit %}
			<a href="{% url commitlog-view-file repo_name branch_name commit.hexsha element.path %}" >{{ element.name }}</a>
			{% else %}
			<a href="{% url commitlog-edit-file repo_name branch_name element.path %}" >{{ element.name }}</a>
			{% endif %}
		{% endif %}
		<small>{{ element.size|filesizeformat }}</small>
		<small>commit: <a href="{% url commitlog-commit-view repo_name branch_name element.hexsha %}">{{ element.hexsha|truncatechars:16 }}</a></small>
		<a href="{% url commitlog-delete-file repo_name branch_name element.path %}" class="delete">delete</a>
	</li>
{% endfor %}
</ul>

<form action="" method="post">
	<input type="hidden" value="/admin/git/{{ repo_name }}/{{ branch_name }}/new/{{ dir_path|join:"/" }}" id="cur_path">
	<label for="new_file_name">file name</label>
	<input type="text" id="new_file_name"></input>
	<button id="create_new_file" >CREATE FILE</button>
</form>
{% endblock %}


{% block js %}
<script type="text/javascript">
	document.getElementById("create_new_file").onclick = function(){
		var loc = document.getElementById("cur_path").value + "/" +
			document.getElementById("new_file_name").value;
		document.location = loc;
	}
</script>	
{% endblock js %}