{% extends "commitlog/commitlog_base.html" %}{% load commit_tags %}

{% block git_breadcrumbs %}
	{% if commit %}
	<li>commit: <a href="{% url commitlog-commit-tree-view repo_name branch_name commit.hexsha "" %}">{{ commit.hexsha|truncatechars:16 }}/</a></li>
	{% else %}
	<li>path <a href="{% url commitlog-tree-view repo_name branch_name "" %}" >root/</a> </li>
	{% endif %}
	{% for crumb in breadcrumbs %}
	{% if commit %}
	<li><a href="{% url commitlog-commit-tree-view repo_name branch_name commit.hexsha crumb.1 %}" >{{crumb.0}}/</a> 	
	{% else %}
	<li><a href="{% url commitlog-tree-view repo_name branch_name crumb.1 %}" >{{crumb}}/</a> 
	{% endif %}
	{% endfor %}
{% endblock git_breadcrumbs %}



{% block git_content %}
<div class="page">
	{% include "commitlog/_view_file.html" %}
</div>
{% endblock %}