{% extends "commitlog/commitlog_base.html" %}{% load commit_tags %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
	<li>repo "<a href="{% url commitlog-repos %}" >{{ repo_name }}</a>" </li>
	<li>branch "<a href="{% url commitlog-tree-view repo_name branch_name "" %}" >{{ branch_name }}</a>" </li>
	<li>path <a href="{% url commitlog-tree-view repo_name branch_name "" %}" >root/</a> </li>
	{% for crumb in dir_path %}
	<li><a href="{% url commitlog-file-view repo_name branch_name crumb commit.hexsha %}" >{{crumb}}/</a></li>
	{% endfor %}
</ul>
{% endblock breadcrumbs %}



{% block git_content %}
	<a href="{% url commitlog-history-file repo_name branch_name path %}">history</a>
	<h2>File "{{ path }}" </h2>
	{% if commit %}
	{% include "commitlog/_commit.html" %}
	{% endif %}

	{% if file_meta.mime_type == "text" or file_meta.mime_type == "application"  %}
	  {% include "commitlog/_view_text.html" %}
	{% else %}
	  {% include "commitlog/_view_file.html" %}
	  <img src="/{{ path }}" width="300" />
	{% endif %}

	{% include "commitlog/_diff.html" %}
{% endblock %}