/* @override 
	http://127.0.0.1:8000/media/commitlog/admin.css
	http://127.0.0.1:8000/media/commitlog/css/admin.css
*/

/* #Buttons
================================================== */
    
    a.button, 
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        background: #eee; /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
        background: -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
        background: linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
      border: 1px solid #aaa;
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      padding: 4px 12px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      color: #444;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      text-decoration: none;
      text-shadow: 0 1px rgba(255, 255, 255, .75);
      cursor: pointer;
      margin-bottom: 20px;
      line-height: 21px;
      font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
      
    a.button:hover, 
    button:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover {
        color: #222;
        background: #eee; /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
        background: -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
        background: linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
      border: 1px solid #888;
      border-top: 1px solid #aaa;
      border-left: 1px solid #aaa; }
      
  a.button:active, 
  button:active,
    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active {
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,0,0,.3) 0%, rgba(255,255,255,.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.3)), color-stop(100%,rgba(255,255,255,.3))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* W3C */
    border: 1px solid #888;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa; }
    
    .button.full-width, 
    button.full-width,
    input[type="submit"].full-width,
    input[type="reset"].full-width,
    input[type="button"].full-width { 
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: center; }
    

.gitter ul{
	margin: 0;
	padding: 0;
}

img.gravatar {
	float: left;
	background: white;
	padding: 3px;
	border: 1px solid #cdcdcd;
	margin-right: 1em;
}

.commits {
	color: #838b9c;
}
.robot{
    float: right;
}
.human{
    float: left;
}
.human em{
	clear: left;
    float: left;
}
.human strong{
   clear: left;
}
.message {
	float: left;
	color: black;
}
.commit{
    overflow: hidden;
    clear: both;
    border-top: 1px solid #e9eeec;

    padding: 5px;
}
.commit ul{
	clear: left;
	margin-left: 14em;
}
h3 {
    font-size: 2em;
}
textarea{
	clear: left;
	width: 100%;
	background: #fafafa;
}
ul {
	clear: both;
}

/* ---------- LAYOUT -------------- */
#content {
	margin: 0;
	background-color: #dde9f2;
}
#pages {
	background: white;
	box-shadow: 0px 0px 6px #dedede;
	padding:  20px ;
}
.page{
	
	overflow: hidden;
}
#tree {
	float: left;
	box-shadow: 0px -2px 3px #dedede;
	width: 200px;
	background: #f9f9f9;
}
#main {
	float: left;
	width: auto;
}
#console {
	clear: both;
}


/* ---------- LAYOUT -------------- */
.breadcrumbs ul{
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.breadcrumbs li{
	float: left;
	list-style: none;
	list-style-type: none;
	margin-right: 1em;
}
.colM{
	clear: both;
}
.history {
	float: right;
}
.tools {
	margin-top: 20px;
	border: 1px solid #d8dae0;
	padding: 2em;
	overflow: hidden;
	background: #ededed;
}


.tools button{
	margin: 0;
}
.tools div {
	float: left;
}
.tools form{
	float: right;
}
.breadcrumbs ul{
	overflow: hidden;
}
.undo {
	float: right;
}
.list {
	padding: 0;
	margin: 0;
}
.list li {
	margin: 0;

	list-style: none;
	list-style-type: none;
	padding: .7em 2em .7em 3em;
	border-bottom: 1px solid #eee9ee;
	font-family: Monaco,"Courier New","DejaVu Sans Mono", mono;
	font-size: 90%;
}
.list li:hover {
	background-color: white;
}
.list li:hover .delete{
	display: block;
}
.next {
	float: right;
}
/* ---------- TREE -------------- */
.delete,
.rename {
	float: right;
}
a.delete{
	position: absolute;
	margin-top: -15px;
	left: 182px;
	display: none;
	width: 14px;
	color: #cdcccd;
}
a.delete:hover{
	color: red;
}
li.blob{
	background: url(/media/commitlog/images/file.png) no-repeat 10px;
}
li.tree{
	background: url(/media/commitlog/images/directory.png) no-repeat 10px;
}
#tree .rename {
	display: none;
}
p.new_file{
	padding: 1em;
	margin: 0;
	background: #fffeff;
	border-bottom:  1ps solid gray;
}
/* ---------- EDIT -------------- */
.edit_file button {
	float: right;
}
.msg {
	margin-top: 1em;
	padding-right: 1em;
}
/* ---------- SEARCH -------------- */
.serch_form {
	float: right;
}
.serch_form button{
	margin: 0;
	margin-left: 1em;
}
.serch_form input{
	height:2em
}
/* ---------- SEARCH -------------- */
.CodeMirror {
	width: 54em;
}

/* ---------- TABS -------------- */
ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 32px;
  /* border-bottom: 1px solid #d8dada;
  border-left: 1px solid #d1d3d3; */
  width: 100%;
  background: none;
  margin-top: -32px;
  margin-left: 20px;
}
ul.tabs li {
  float: left;
  margin: 0;
  padding: 0;
  height: 31px;
  width: 80px;
  line-height: 31px;
  
  margin-bottom: -1px;
  overflow: hidden;
  position: relative;
  background: #ebf0f4;
  box-shadow: 0px -3px 6px #dedede;
}
ul.tabs li a {
	border: 1px none #abaeae;
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 1.2em;
  padding: 0 20px;
  outline: none;
}
ul.tabs li a:hover {
  background: #ccc;
}
ul.tabs li:hover a{
  display: block;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {
  background: #fff;
  border-bottom: 1px solid #fff;
  width: auto;
}
.tabs a.close{
  display: none;
  width: 10px;
  height: 10px;
  float: right;
  padding: 0;
  margin-right: 5px;
  color: #cacbcb;
}
.tabs a.close:hover{
	color: red;
	background: transparent;
}

